<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='done.css') }}">
    <title>Translation Madness</title>
</head>
<body>
    {{resault|safe}}
    <button type="reset" id="reset">reset</button>
</body>
<script>
document.getElementById('reset').addEventListener('click', function() {
    localStorage.setItem('reset', true);
    location.href="../"
});
</script>
</html>